@font-face { /* FW: 300, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: 300, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: normal, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: normal, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: 600, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: 600, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: bold, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: bold, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --dark-yellow: #e4a74e;
  --light-yellow: #ffc000;
  --dark-gray: #bfbfbf;
  --gray: #d5d5d5;
  --light-gray: #ececec;
  --dark-blue: #66a1ff;
  --light-blue: #85b4ff;
}

* {
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  display: flex;
}

.text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-container > img {
  max-width: 400px;
  margin-top: 60px;
}

.text-container > p { 
  color: var(--gray);
  font-size: 1.7rem;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

#yellow {
  color: var(--light-yellow);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 15px;
}

a, a:visited {
  color: var(--light-blue);
  font-size: 1.5rem;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 20px;
}

a:active {
  color: var(--dark-blue)
}

.jat-image-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}