@font-face { /* FW: 300, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: 300, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: normal, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: normal, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: 600, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: 600, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: bold, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: bold, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --dark-yellow: #e4a74e;
  --light-yellow: #ffc000;
  --dark-gray: #bfbfbf;
  --gray: #d5d5d5;
  --light-gray: #ececec;
  --dark-blue: #66a1ff;
  --light-blue: #85b4ff;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  box-sizing: inherit;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  gap: 30px;
}

.display-picture {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0px 20px 0px;
}

.display-picture > img {
  width: 80%;
}

.logo-info-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  max-width: 100%;
}

.logo-full {
  width: 55%;
  max-width: 330px;
}

.logo-full > img {
  width: 100%;
}

.mobile-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  max-width: 270px;
  height: 100%;
  min-height: 100%;
}

.yellow-words {
  color: var(--dark-yellow);
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 40px;
  width: 100%;
  margin-top: -5px;
}

.service {
  display: none;
}

.more-button-mobile {
  width: 50%;
  margin-top: 140px;
  border: none;
  background-color: black;
  color: var(--light-yellow);
  font-weight: normal;
  font-size: 1.4rem;
}

.more {
  display: none;
}