:root {
    --indian-yellow: #e4a74e;
    --amber: #ffc000;
    --silver: #bfbfbf;
    --light-gray: #d5d5d5;
    --cultured: #ececec;
}

* {
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

body {
    position: relative;
}


header {
    display: flex;
    height: 80px;
    width: 100vw;
    background-color: black;
    position: fixed;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.logo {
    max-width: 80px;
    margin-left: 60px;
}

#header-nav {
    margin-left: auto;
    margin-right: 60px;
}

.nav-list {
    display: flex;
}

.nav-li {
    list-style: none;
    margin-left: 30px;
}

.nav-link {
    color: #ececec;
    text-decoration: none;
}

.nav-link:visited {
    color: #ececec;
}

.current {
    color: var(--indian-yellow);
}

.current:visited {
    color: var(--indian-yellow);
}

main {
    position: absolute;
    top: 80px;
    width: 100vw;
    min-height: calc(100vh - 80px);
    background-color: var(--cultured);
    display: flex;
    justify-content: center;
}

.content {
    background-color: var(--silver);
    width: 70%;
}
