@font-face { /* FW: 300, FS: normal */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face { /* FW: 300, FS: italic */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face { /* FW: normal, FS: normal */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face { /* FW: normal, FS: italic */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face { /* FW: 600, FS: normal */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face { /* FW: 600, FS: italic */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face { /* FW: bold, FS: normal */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face { /* FW: bold, FS: italic */
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

:root {
    --indian-yellow: #e4a74e;
    --amber: #ffc000;
    --silver: #bfbfbf;
    --light-gray: #d5d5d5;
    --cultured: #ececec;
}

* {
    font-family: 'IBM Plex Sans';
}

header {
    display: flex;
    height: 80px;
    width: 100vw;
    background-color: black;
    position: fixed;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.logo {
    max-width: 80px;
    margin-left: 40px;
}

#header-nav {
    margin-left: auto;
    margin-right: 40px;
}

.nav-list {
    display: flex;
}

.nav-li {
    list-style: none;
    margin-left: 30px;
}

.nav-link {
    color: #ececec;
    text-decoration: none;
}

.nav-link:visited {
    color: #ececec;
}

.current {
    color: #ffc000;
}

.current:visited {
    color: #ffc000;
}

